:root {
  --yellow-color: #f2db44;
  --purple-color: #8625df;
  --orange-color: #da6000;
  --green-color: #5fcb92;
  --blue-color: #25a4ed;
  --main-theme-color: #ffffff;
  --border-and-shadow-color: #c5c5c5;
  --black-color: #bbbbbb;
}
